# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/


# ==========================================
# ENVIRONMENT
# ==========================================

.env
.env.*
!.env.example


# ==========================================
# NODE
# ==========================================

node_modules/
dist/
.vite/


# ==========================================
# IDE
# ==========================================

.vscode/
.idea/


# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# LOGS
# ==========================================

*.log


# ==========================================
# DATABASE / LOCAL FILES
# ==========================================

*.db
*.sqlite
*.sqlite3